In [3]:
import pandas as pd

data = pd.read_csv('all_anonymized_2015_11_2017_03.csv',low_memory=False)

In [9]:
IDXData = data.reset_index()
IDXData['index'] = 'AD-' + IDXData['index'].astype('str') 
IDXData.head()

,index,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,AD-0,ford,galaxy,151000.0,2011.0,2000.0,103.0,NaN,NaN,NaN,man,5.0,7.0,diesel,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,AD-1,skoda,octavia,143476.0,2012.0,2000.0,81.0,NaN,NaN,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,AD-2,bmw,NaN,97676.0,2010.0,1995.0,85.0,NaN,NaN,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,AD-3,skoda,fabia,111970.0,2004.0,1200.0,47.0,NaN,NaN,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,AD-4,skoda,fabia,128886.0,2004.0,1200.0,47.0,NaN,NaN,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71

In [14]:
Summary = IDXData.describe(include='all')

In [15]:
Summary

,index,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
count,3552912,3033997,2419551,3.190328e+06,3.182334e+06,2.809498e+06,2.998035e+06,2429998,209501,536105.000000,2811282,2.462846e+06,2.265813e+06,1705306,3552912,3552912,3.552912e+06
unique,3552912,46,1012,NaN,NaN,NaN,NaN,9,14,NaN,2,NaN,NaN,5,3552912,3355057,NaN
top,AD-0,skoda,octavia,NaN,NaN,NaN,NaN,other,black,NaN,man,NaN,NaN,gasoline,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,NaN
freq,1,313830,129563,NaN,NaN,NaN,NaN,1964289,42931,NaN,2021990,NaN,NaN,902222,1,197856,NaN
mean,NaN,NaN,NaN,1.158140e+05,2.000871e+03,2.043958e+03,9.846796e+01,NaN,NaN,2021.472590,NaN,4.052180e+00,4.869694e+00,NaN,NaN,NaN,1.625812e+06
std,NaN,NaN,NaN,3.422508e+05,8.172588e+01,1.973958e+03,4.907309e+01,NaN,NaN,140.476724,NaN,9.911850e-01,1.212611e+00,NaN,NaN,NaN,2.025622e+09
min,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,NaN,NaN,2015.000000,NaN,0.000000e+00,0.000000e+00,NaN,NaN,NaN,4.000000e-02
25%,NaN,NaN,NaN,1.880000e+04,2.004000e+03,1.400000e+03,6.800000e+01,NaN,NaN,2017.000000,NaN,4.000000e+00,5.000000e+00,NaN,NaN,NaN,1.295340e+03
50%,NaN,NaN,NaN,8.641500e+04,2.009000e+03,1.798000e+03,8.600000e+01,NaN,NaN,2017.000000,NaN,4.000000e+00,5.000000e+00,NaN,NaN,NaN,7.364910e+03
75%,NaN,NaN,NaN,1.580250e+05,2.013000e+03,1.997000e+03,1.100000e+02,NaN,NaN,2018.000000,NaN,5.000000e+00,5.000000e+00,NaN,NaN,NaN,1.628423e+04
max,NaN,NaN,NaN,9.999999e+06,2.017000e+03,3.276700e+04,2.237000e+03,NaN,NaN,9990.000000,NaN,7.700000e+01,5.170000e+02,NaN,NaN,NaN,2.706149e+12

In [19]:
IDXData[IDXData.manufacture_year==139]

,index,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
3551940,AD-3551940,volkswagen,touran,240.0,139.0,1900.0,77.0,other,NaN,NaN,man,NaN,NaN,diesel,2017-03-16 17:50:59.166248+00,2017-03-16 17:50:59.166248+00,1295.34
3552414,AD-3552414,volkswagen,touran,130000.0,139.0,1900.0,77.0,other,NaN,NaN,NaN,NaN,NaN,electric,2017-03-16 18:30:49.727819+00,2017-03-16 18:30:49.727819+00,1295.34

In [ ]:
Summary.to_clipboard()

In [13]:
IDXData.to_parquet('ParquetData.parquet')

In [21]:
IDXData.dropna(how='any')

,index,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,color_slug,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
1075903,AD-1075903,toyota,yaris,31696.0,2011.0,1329.0,73.0,compact,grey,2016.0,man,3.0,5.0,gasoline,2016-01-06 19:25:07.416766+00,2016-01-17 13:19:36.517081+00,9490.0
1075943,AD-1075943,nissan,note,9944.0,2014.0,1198.0,59.0,van,blue,2018.0,man,4.0,5.0,gasoline,2016-01-06 19:25:14.051308+00,2016-07-03 18:52:28.778609+00,10000.0
1076078,AD-1076078,porsche,cayman,65000.0,2005.0,3386.0,217.0,coupe,silver,2016.0,man,2.0,2.0,gasoline,2016-01-06 19:25:26.075347+00,2016-07-03 18:41:05.832238+00,25800.0
1076216,AD-1076216,opel,corsa,24348.0,2014.0,1229.0,63.0,compact,grey,2017.0,man,5.0,5.0,gasoline,2016-01-06 19:25:40.555298+00,2016-01-17 13:21:38.582038+00,9290.0
1076697,AD-1076697,toyota,celica,155000.0,1999.0,1794.0,105.0,coupe,silver,2016.0,man,2.0,4.0,gasoline,2016-01-06 20:10:58.372777+00,2016-01-17 14:07:45.192729+00,3450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1386373,AD-1386373,chevrolet,matiz,95000.0,2006.0,995.0,49.0,compact,black,2018.0,man,4.0,5.0,gasoline,2016-01-27 15:14:12.870132+00,2016-07-03 18:51:30.604973+00,1980.0
1386512,AD-1386512,bmw,x5,149999.0,2005.0,2993.0,160.0,other,black,2018.0,auto,4.0,5.0,diesel,2016-01-27 15:26:02.162414+00,2016-02-11 16:04:38.8623+00,12950.0
1387398,AD-1387398,opel,agila,162000.0,2001.0,973.0,43.0,compact,white,2018.0,man,4.0,4.0,gasoline,2016-01-27 20:49:50.743228+00,2016-02-11 16:47:23.012042+00,1490.0
1387503,AD-1387503,mini,cooper-s,158000.0,2002.0,1598.0,155.0,compact,black,2016.0,man,2.0,4.0,gasoline,2016-01-27 20:49:59.783126+00,2016-02-11 16:48:30.987367+00,7500.0
1388053,AD-1388053,fiat,doblo,218697.0,2010.0,1248.0,62.0,transporter,orange,2016.0,man,5.0,2.0,diesel,2016-01-27 22:07:36.941713+00,2016-07-03 18:53:01.594607+00,3200.0