In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

c:\Users\nhduc\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [5]:
df = pd.read_csv(r"../../data/all_anonymized_2015_11_2017_03.csv")

C:\Users\nhduc\AppData\Local\Temp\ipykernel_12156\290111936.py:1: DtypeWarning: Columns (7,8,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"../../data/all_anonymized_2015_11_2017_03.csv")

### EDA

In [23]:
maker_model_count = df.groupby(['maker', 'model'], as_index=False).size().sort_values('size', ascending=False)
maker_model_count

           maker     model    size
1009       skoda   octavia  129554
1000       skoda     fabia   91399
1118  volkswagen      golf   91228
383         ford     focus   61135
842         opel     astra   58374
...          ...       ...     ...
999        skoda      colt       1
248     chrysler  intrepid       1
1006       skoda    kangoo       1
1007       skoda    laguna       1
369         ford        cc       1

[1168 rows x 3 columns]

In [26]:
maker_model_count[-400:]

              maker        model  size
735   mercedes-benz     s350-cdi    32
790          nissan       200-sx    32
635   mercedes-benz     b200-cdi    31
587           lotus       esprit    31
907         porsche  987-boxster    31
...             ...          ...   ...
999           skoda         colt     1
248        chrysler     intrepid     1
1006          skoda       kangoo     1
1007          skoda       laguna     1
369            ford           cc     1

[400 rows x 3 columns]

In [24]:
df[['maker', 'model']].dropna()

         maker     model
0         ford    galaxy
1        skoda   octavia
3        skoda     fabia
4        skoda     fabia
5        skoda     fabia
...        ...       ...
3552906  skoda   octavia
3552907  skoda  roomster
3552908  skoda   felicia
3552909  skoda   octavia
3552910  skoda     fabia

[2419551 rows x 2 columns]