In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
import os 

from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split, KFold, cross_validate, GridSearchCV
from sklearn.decomposition import PCA

from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

warnings.filterwarnings("ignore")

c:\Users\nhduc\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
link = r"D:/clean_df.csv"

df = pd.read_csv(link)

### Create man_period, stk_period

In [3]:
df.head()

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,ford,galaxy,151000.0,2011.0,2000.0,138.12506,compact,NaN,man,5.0,7.0,diesel,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,skoda,octavia,143476.0,2012.0,2000.0,108.62262,compact,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,bmw,NaN,97676.0,2010.0,1995.0,113.98670,compact,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,skoda,fabia,111970.0,2004.0,1200.0,84.48426,compact,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,skoda,fabia,128886.0,2004.0,1200.0,84.48426,compact,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71

In [4]:
df['date_created'] = pd.to_datetime(df['date_created'])
df['year_created'] = df['date_created'].dt.year

df['man_period'] = df['year_created'] - df['manufacture_year']
df['stk_period'] = df['year_created'] - df['stk_year']

In [5]:
df = df.drop(['manufacture_year', 'stk_year', 'date_created', 'date_last_seen', 'year_created'], axis=1)
df.iloc[:,[0,1,5,6,9]] = df.iloc[:,[0,1,5,6,9]].fillna('unknown')

## Feature processing

In [6]:
X = df.drop('price_eur', axis=1).to_numpy()
y = df['price_eur'].to_numpy()

In [7]:
class Indicator(BaseEstimator, TransformerMixin):
    def __init__(self):
        pass

    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        nonnull_X = np.nan_to_num(X.astype(float), nan=0).astype(int)

        missing_indicator = MissingIndicator()
        indicator_values = missing_indicator.fit_transform(X).astype(int)

        return np.c_[nonnull_X, indicator_values]

In [8]:
num_cols = [2,3,4,7,8,10,11]
cat_cols = [0,5,6,9]

one_hot_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
indicator = Indicator()

full_pipeline = ColumnTransformer([
    ("num", indicator, num_cols),
    ("cat", one_hot_encoder , cat_cols),
])

In [9]:
full_pipeline.fit(X)
X_trans = full_pipeline.transform(X)

## Model

### Linear regression

In [10]:
eva_df = pd.DataFrame(columns = ["Model", "RMSE", "MAE", "R2" ])

In [11]:
lin_reg = LinearRegression(fit_intercept=True)

# K-fold cross validation with k=5
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_validate(lin_reg, X_trans, y, cv=kfold, scoring = ['neg_mean_squared_error', 'neg_mean_absolute_error','r2'] )

mse = -scores['test_neg_mean_squared_error'].mean()
mae = -scores['test_neg_mean_absolute_error'].mean()
R2 = scores['test_r2'].mean()

eva_df = eva_df.append({"Model": "Linear Regression", "RMSE" : mse**0.5, "MAE":mae ,"R2" : R2},ignore_index=True)
eva_df

               Model         RMSE        MAE        R2
0  Linear Regression  6697.777555  4215.4448  0.722627

### Lasso

In [12]:
# # Create a model instance
# lasso_reg = Lasso()

# # Define the alpha values to be tested
# alphas = [0.001, 0.01, 0.1, 1, 10, 100, 1000]

# # GridSearchCV
# kfold = KFold(n_splits=5, shuffle=True, random_state=42)
# lasso_grid = GridSearchCV(estimator=lasso_reg, param_grid={'alpha': alphas}, cv=kfold, return_train_score=True)

# # Fit
# lasso_grid.fit(X_trans,y)

# # Alpha
# alpha = lasso_grid.best_params_['alpha']
# alpha

In [13]:
alpha = 0.1
# K-fold cross validation with k=10
lasso_reg = Lasso(alpha=alpha)

kfold = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_validate(lasso_reg, X_trans, y, cv=kfold, scoring = ['neg_mean_squared_error','neg_mean_absolute_error', 'r2'] )

# Adding metrics to the evaluation dataframe
mse = -scores['test_neg_mean_squared_error'].mean()
mae = -scores['test_neg_mean_absolute_error'].mean()
R2 = scores['test_r2'].mean()

eva_df = eva_df.append({"Model": "LASSO regression", "RMSE" : mse**0.5, "MAE":mae, "R2" : R2},ignore_index=True)
eva_df

               Model         RMSE          MAE        R2
0  Linear Regression  6697.777555    4215.4448  0.722627
1   LASSO regression  6697.431707  4215.383759  0.722656

In [14]:
# # Create a model instance
# ridge_reg = Ridge()

# # Define the alpha values to be tested
# alphas = [0.001, 0.01, 0.1, 1, 10, 100, 1000]

# # GridSearchCV for alpha
# kfold = KFold(n_splits=5, shuffle=True, random_state=42)
# ridge_grid = GridSearchCV(estimator=ridge_reg, param_grid={'alpha': alphas}, cv=kfold, return_train_score=True)

# # Fit
# ridge_grid.fit(X_trans,y)

# # Best alpha
# alpha = ridge_grid.best_params_['alpha']
# alpha

In [15]:
alpha=10
# K-fold cross validation with k=10
ridge_reg = Ridge(alpha=alpha)

kfold = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_validate(ridge_reg, X_trans, y, cv=kfold, scoring = ['neg_mean_squared_error','neg_mean_absolute_error', 'r2'] )
# Adding metrics to the evaluation dataframe
mse = -scores['test_neg_mean_squared_error'].mean()
mae = -scores['test_neg_mean_absolute_error'].mean()
R2 = scores['test_r2'].mean()

eva_df = eva_df.append({"Model": "Ridge regression", "RMSE" : mse**0.5, "MAE":mae, "R2" : R2},ignore_index=True)
eva_df

               Model         RMSE          MAE        R2
0  Linear Regression  6697.777555    4215.4448  0.722627
1   LASSO regression  6697.431707  4215.383759  0.722656
2   Ridge regression  6697.496975  4215.592141  0.722651

### PCA

In [16]:
pca = PCA(n_components=10)
pca.fit(X_trans)
X_pca = pca.transform(X_trans)

In [17]:
pca_lin_reg = LinearRegression(fit_intercept=True)

# K-fold cross validation with k=5
kfold = KFold(n_splits=5, shuffle=True, random_state=42)
scores = cross_validate(pca_lin_reg, X_pca, y, cv=kfold, scoring = ['neg_mean_squared_error', 'neg_mean_absolute_error','r2'] )

mse = -scores['test_neg_mean_squared_error'].mean()
mae = -scores['test_neg_mean_absolute_error'].mean()
R2 = scores['test_r2'].mean()

eva_df = eva_df.append({"Model": "PCA Linear Regression", "RMSE" : mse**0.5, "MAE":mae ,"R2" : R2},ignore_index=True)
eva_df

                   Model         RMSE          MAE        R2
0      Linear Regression  6697.777555    4215.4448  0.722627
1       LASSO regression  6697.431707  4215.383759  0.722656
2       Ridge regression  6697.496975  4215.592141  0.722651
3  PCA Linear Regression   7371.57394  4665.662816   0.66401

### Neural network

In [18]:
import tensorflow.keras as keras

WARNING:tensorflow:From c:\Users\nhduc\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [20]:
X_train, X_val, y_train, y_val = train_test_split(X_trans, y, test_size=0.2, random_state=42)

a_model = keras.models.Sequential([
    keras.layers.Dense(units = 40, activation="relu", kernel_initializer = "he_normal"),
    keras.layers.Dense(units = 10, activation="relu", kernel_initializer = "he_normal"),
    keras.layers.Dense(1)
])

a_model.compile(loss="mean_squared_error",
                optimizer='adam')

early_stopping_cb = keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)

a_model.fit(X_train, y_train,
            epochs = 500,
            validation_data=(X_val, y_val),
            callbacks = [early_stopping_cb])

Epoch 1/500
56206/56206 [==============================] - 52s 908us/step - loss: 52190464.0000 - val_loss: 44174792.0000
Epoch 2/500
56206/56206 [==============================] - 51s 915us/step - loss: 39765764.0000 - val_loss: 37966248.0000
Epoch 3/500
56206/56206 [==============================] - 51s 900us/step - loss: 36433452.0000 - val_loss: 38353972.0000
Epoch 4/500
56206/56206 [==============================] - 51s 909us/step - loss: 34360980.0000 - val_loss: 33380290.0000
Epoch 5/500
56206/56206 [==============================] - 52s 917us/step - loss: 33116126.0000 - val_loss: 31516162.0000
Epoch 6/500
56206/56206 [==============================] - 51s 915us/step - loss: 32345554.0000 - val_loss: 31981260.0000
Epoch 7/500
56206/56206 [==============================] - 52s 917us/step - loss: 31786164.0000 - val_loss: 31776736.0000
Epoch 8/500
56206/56206 [==============================] - 52s 932us/step - loss: 31376856.0000 - val_loss: 30463056.0000
Epoch 9/500
56206/56206 [==============================] - 52s 923us/step - loss: 30851848.0000 - val_loss: 30271814.0000
Epoch 10/500
56206/56206 [==============================] - 52s 925us/step - loss: 30550206.0000 - val_loss: 33483168.0000
Epoch 11/500
56206/56206 [==============================] - 54s 965us/step - loss: 30339902.0000 - val_loss: 29771604.0000
Epoch 12/500
56206/56206 [==============================] - 53s 947us/step - loss: 30038528.0000 - val_loss: 30582362.0000
Epoch 13/500
56206/56206 [==============================] - 57s 1ms/step - loss: 29878294.0000 - val_loss: 29856850.0000
Epoch 14/500
56206/56206 [==============================] - 53s 948us/step - loss: 29750580.0000 - val_loss: 28890844.0000
Epoch 15/500
56206/56206 [==============================] - 53s 938us/step - loss: 29498246.0000 - val_loss: 30048218.0000
Epoch 16/500
56206/56206 [==============================] - 53s 950us/step - loss: 29357974.0000 - val_loss: 28652554.0000
Epoch 17/500
56206/56206 [==============================] - 53s 947us/step - loss: 29211526.0000 - val_loss: 30894932.0000
Epoch 18/500
56206/56206 [==============================] - 54s 968us/step - loss: 29041800.0000 - val_loss: 29706984.0000
Epoch 19/500
56206/56206 [==============================] - 53s 951us/step - loss: 28866574.0000 - val_loss: 27931270.0000
Epoch 20/500
56206/56206 [==============================] - 53s 941us/step - loss: 28737004.0000 - val_loss: 29247776.0000
Epoch 21/500
56206/56206 [==============================] - 53s 951us/step - loss: 28594392.0000 - val_loss: 28782088.0000
Epoch 22/500
56206/56206 [==============================] - 54s 955us/step - loss: 28430432.0000 - val_loss: 28215532.0000
Epoch 23/500
56206/56206 [==============================] - 51s 911us/step - loss: 28371376.0000 - val_loss: 29152026.0000
Epoch 24/500
56206/56206 [==============================] - 51s 910us/step - loss: 28355620.0000 - val_loss: 27171344.0000
Epoch 25/500
56206/56206 [==============================] - 51s 902us/step - loss: 28390132.0000 - val_loss: 28738852.0000
Epoch 26/500
56206/56206 [==============================] - 51s 907us/step - loss: 28226484.0000 - val_loss: 28919220.0000
Epoch 27/500
56206/56206 [==============================] - 52s 917us/step - loss: 28030268.0000 - val_loss: 27170262.0000
Epoch 28/500
56206/56206 [==============================] - 51s 903us/step - loss: 27848618.0000 - val_loss: 28151676.0000
Epoch 29/500
56206/56206 [==============================] - 50s 891us/step - loss: 27764346.0000 - val_loss: 27989708.0000
Epoch 30/500
56206/56206 [==============================] - 52s 926us/step - loss: 27730880.0000 - val_loss: 27110288.0000
Epoch 31/500
56206/56206 [==============================] - 53s 936us/step - loss: 27663652.0000 - val_loss: 28192154.0000
Epoch 32/500
56206/56206 [==============================] - 53s 944us/step - loss: 27547188.0000 - val_loss: 29571034.0000
Epoch 33/500
56206/56206 [==============================] - 52s 930us/step - loss: 27547380.0000 - val_loss: 27854756.0000
Epoch 34/500
56206/56206 [==============================] - 52s 929us/step - loss: 27461076.0000 - val_loss: 29210700.0000
Epoch 35/500
56206/56206 [==============================] - 52s 934us/step - loss: 27331320.0000 - val_loss: 27727322.0000
Epoch 36/500
56206/56206 [==============================] - 52s 932us/step - loss: 27364288.0000 - val_loss: 26446138.0000
Epoch 37/500
56206/56206 [==============================] - 52s 924us/step - loss: 27223372.0000 - val_loss: 26648086.0000
Epoch 38/500
56206/56206 [==============================] - 53s 934us/step - loss: 27400696.0000 - val_loss: 28840598.0000
Epoch 39/500
56206/56206 [==============================] - 53s 938us/step - loss: 27130652.0000 - val_loss: 26538586.0000
Epoch 40/500
56206/56206 [==============================] - 53s 941us/step - loss: 27112660.0000 - val_loss: 27408524.0000
Epoch 41/500
56206/56206 [==============================] - 53s 941us/step - loss: 26973754.0000 - val_loss: 26560232.0000
Epoch 42/500
56206/56206 [==============================] - 54s 953us/step - loss: 26980610.0000 - val_loss: 27181036.0000
Epoch 43/500
56206/56206 [==============================] - 54s 954us/step - loss: 26948390.0000 - val_loss: 27125650.0000
Epoch 44/500
56206/56206 [==============================] - 54s 958us/step - loss: 26844592.0000 - val_loss: 26378688.0000
Epoch 45/500
56206/56206 [==============================] - 963s 17ms/step - loss: 26764470.0000 - val_loss: 26123226.0000
Epoch 46/500
56206/56206 [==============================] - 53s 942us/step - loss: 26786324.0000 - val_loss: 25953950.0000
Epoch 47/500
56206/56206 [==============================] - 52s 917us/step - loss: 26813280.0000 - val_loss: 26557424.0000
Epoch 48/500
56206/56206 [==============================] - 51s 908us/step - loss: 26633376.0000 - val_loss: 26220866.0000
Epoch 49/500
56206/56206 [==============================] - 50s 897us/step - loss: 26585514.0000 - val_loss: 26806870.0000
Epoch 50/500
56206/56206 [==============================] - 50s 895us/step - loss: 26530938.0000 - val_loss: 26416000.0000
Epoch 51/500
56206/56206 [==============================] - 51s 903us/step - loss: 26559976.0000 - val_loss: 26621760.0000
Epoch 52/500
56206/56206 [==============================] - 51s 905us/step - loss: 26489020.0000 - val_loss: 26216758.0000
Epoch 53/500
56206/56206 [==============================] - 50s 889us/step - loss: 26446410.0000 - val_loss: 26732034.0000
Epoch 54/500
56206/56206 [==============================] - 50s 893us/step - loss: 26361124.0000 - val_loss: 26394782.0000
Epoch 55/500
56206/56206 [==============================] - 50s 888us/step - loss: 26378668.0000 - val_loss: 27581872.0000
Epoch 56/500
56206/56206 [==============================] - 50s 888us/step - loss: 26312020.0000 - val_loss: 26377008.0000