# Load Required Packages

In [3]:
import pandas as pd
import numpy as np

# Modeling

In [4]:
Data = pd.read_csv('clean_df.csv',low_memory=False)

In [5]:
Data

,maker,model,mileage,manufacture_year,engine_displacement,engine_power,body_type,stk_year,transmission,door_count,seat_count,fuel_type,date_created,date_last_seen,price_eur
0,ford,galaxy,151000.0,2011.0,2000.0,138.12506,compact,NaN,man,5.0,7.0,diesel,2015-11-14 18:10:06.838319+00,2016-01-27 20:40:15.46361+00,10584.75
1,skoda,octavia,143476.0,2012.0,2000.0,108.62262,compact,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.853411+00,2016-01-27 20:40:15.46361+00,8882.31
2,bmw,NaN,97676.0,2010.0,1995.0,113.98670,compact,NaN,man,5.0,5.0,diesel,2015-11-14 18:10:06.861792+00,2016-01-27 20:40:15.46361+00,12065.06
3,skoda,fabia,111970.0,2004.0,1200.0,84.48426,compact,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.872313+00,2016-01-27 20:40:15.46361+00,2960.77
4,skoda,fabia,128886.0,2004.0,1200.0,84.48426,compact,NaN,man,5.0,5.0,gasoline,2015-11-14 18:10:06.880335+00,2016-01-27 20:40:15.46361+00,2738.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2834466,skoda,yeti,69267.0,2014.0,1197.0,103.25854,offroad,NaN,auto,5.0,5.0,NaN,2016-08-21 18:14:27.917057+00,2016-08-26 15:55:36.717499+00,24981.50
2834467,chevrolet,matiz,59000.0,2006.0,995.0,65.70998,compact,NaN,man,5.0,5.0,NaN,2016-08-21 18:14:27.990014+00,2016-09-02 16:39:14.520114+00,24981.50
2834468,chevrolet,aveo,86000.0,2010.0,1200.0,71.07406,sedan,NaN,man,5.0,5.0,NaN,2016-08-21 18:14:28.028439+00,2016-08-29 15:52:19.051848+00,24981.50
2834469,ford,ka,123000.0,2005.0,1299.0,68.39202,compact,NaN,man,3.0,4.0,NaN,2016-08-21 18:14:28.098166+00,2016-09-04 16:34:33.912716+00,24981.50
2834470,hyundai,santa-fe,190240.0,2006.0,2200.0,147.51220,offroad,NaN,auto,5.0,5.0,NaN,2016-08-21 18:14:28.647773+00,2016-08-29 15:52:19.285877+00,24981.50